@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// font-family: 'Lato', sans-serif;
@import "navbar";

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

// bg-colour variables
$bg-color-light:#F8EEE7;
$bg-color-dark: #062F4F;
// main colour scheme, other variables set within navbar.scss, if were to rewrite
// this would improve the naming, just the navbar part was produced first and time
// constraints
body{
    background-color: #{$bg-color-light};
    color: #{$navbar-light-color};
}

// mostly text sizes/ positions
h1, h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3rem;
}

h3{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.2rem;
}

h6{
    @extend h1;
    font-size:1.5rem;
    text-align: center;
}

p{
    @extend h3;
    font-size: 1.4rem;
}

// navbar settings, variables set in navbar.scss file
.container-fluid{
    background-color: #{$navbg-light-color};
}

.navbar{
    color: #{$navbar-light-color};
    :hover{
        color: #{$navbar-light-hover-color};
    }
    :disabled{
        color: #{$navbar-light-disabled-color};
    }
    :active{
        color: #{$navbar-light-active-color};
    }
}

.navbar-brand{
    margin: #{$navbar-brand-margin-end};
    font-size: #{$navbar-brand-font-size};
    color: #{$navbar-light-brand-color};
    :hover{
        color: #{$navbar-light-brand-hover-color};
    }
}

.nav-link{
    padding-left: #{$navbar-nav-link-padding-x};
    color: #{$navbar-light-color};
    :hover{
        color:#{$navbar-light-hover-color};
    }
    :disabled{
        color:#{navbar-light-disabled-color};
    }
}

.navbar-toggler{
    padding-top: #{$navbar-toggler-padding-y};
    padding-left: #{$navbar-toggler-padding-x};
    font-size: #{$navbar-toggler-font-size};
    border-color: #{$navbar-light-toggler-border-color};
    border-radius: #{$navbar-toggler-border-radius};
    transition: #{$navbar-toggler-transition};
    :focus{
    width: #{$navbar-toggler-focus-width};
    }
}

// jumplink offsets to account for navbar overlap, checked in dev tools that 
// it's always 84px required
a.anchor{
    padding-top: 84px;
    margin-top: -84px;
    display: inline-block;
}

// image settings, non carousel
.img-centre{
    margin-left:10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 5%;
}

// text below images, some buttons and admin login form want the same settings
.img-txt, .top-btn, .form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// table settings
.table{
    color: #{$navbar-light-color};
    background-color: #{$navbg-light-color};
    border-radius: 5%;
    font-size: 1rem ;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    border-color: #{$navbar-light-active-color};
}

// if on a small width device it flips the orientation of the table to fit
@media (max-width: 570px) {
    tbody{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    tr{
        display: flex;
        flex-direction: column;
    }
    td, th{
        flex:1;
    }
}

// dark mode settings
/* first bit is the general background, the rest is all navbar related */
.dark-mode{
    background-color: #{$bg-color-dark};
    .container-fluid{
        background-color: #{$navbg-dark-color};
    }

    .navbar{
        color: #{$navbar-dark-color};
        :hover{
            color: #{$navbar-dark-hover-color};
        }
        :disabled{
            color: #{$navbar-dark-disabled-color};
        }
        :active{
            color: #{$navbar-dark-active-color};
        }
    }
    
    .navbar-brand{
        color: #{$navbar-dark-brand-color};
        :hover{
            color: #{$navbar-dark-brand-hover-color};
        }
    }
    
    .nav-link{
        color: #{$navbar-dark-color};
        :hover{
            color:#{$navbar-dark-hover-color};
        }
        :disabled{
            color:#{navbar-dark-disabled-color};
        }
    }
    
    .navbar-toggler{
        border-color: #{$navbar-dark-toggler-border-color};
    }

    .table{
        color: #{$navbar-dark-color};
        background-color: #{$navbg-dark-color};
    }
}

// other dark mode setting
/* main-body class */
.dark-modeb{
    background-color: #{$navbar-dark-hover-color};
    color: #{$navbar-dark-color};
}