// sizes

$navbar-nav-link-padding-x:         .5rem;

$navbar-brand-font-size:            1.5rem;
$navbar-brand-margin-end:           1rem;

$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-font-size:          1.5rem;
$navbar-toggler-border-radius:      .25rem;
$navbar-toggler-focus-width:        .25rem;
$navbar-toggler-transition:         box-shadow .15s ease-in-out;

// colours
// dark-mode
$navbar-dark-color:                 white;
$navbar-dark-hover-color:           #062F4F;
$navbar-dark-active-color:          white;
$navbar-dark-disabled-color:        grey;
$navbar-dark-toggler-border-color:  #062F4F;
$navbg-dark-color:                  #813772;

// light-mode
$navbar-light-color:                #49274A;
$navbar-light-hover-color:          #94618E;
$navbar-light-active-color:         #49274A;
$navbar-light-disabled-color:       grey;
$navbar-light-toggler-border-color: #94618E;
$navbg-light-color:                 #F4DECB;

$navbar-light-brand-color:                $navbar-light-active-color;
$navbar-light-brand-hover-color:          $navbar-light-active-color;
$navbar-dark-brand-color:                 $navbar-dark-active-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color;