{% extends 'base.html' %}

{% block content %}

<div class="main-body">
    <br>
    <a class="anchor" id="admin-top"></a><h2>Fake login section</h2><br>
    <br>
    <h6>It doesn't actually work just a template/ idea with a js date function as extra</h6><br>
</div>

<div class="main-text">
    <div class="form-box">
        <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
        </div>
    </div>
    <div class="form-box">
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    <br><br>
    <div class="top-btn">
        <button class="btn btn-primary" type="button" disabled>Login</button>
    </div>
    <br><br><br><br>

    <div class="top-btn">
        <button onclick="displayDate(date)" class="btn btn-primary">Display Date</button>
        <p class="example-text" id="date"></p>
    </div>
</div>

{% endblock %}

<!-- hidden admin page-->