{% extends 'base.html' %}

{% block content %}
<div class="main-body">
<br>
<div class="anchor" id="home-top"><h1>What is an exoplanet?</h1></div><br>
<div>
    <h6>An exoplanet is a planet that orbits a star outside of our solar system</h6><br>
    <img src="{{url_for('static', filename='images/trappist-1.jpg')}}", alt="image of exoplanets of the trappist-1 system", title="" class="img-centre"><br> 
    <p class="img-txt">This artist's concept shows what each of the TRAPPIST-1 planets may look like, based on available data about their sizes, masses and orbital distances. It makes it the system with the most confirmed exoplanets. Credit: NASA/JPL-Caltech</p>
</div>
<br>
</div>
{% endblock %}

<!-- home page -->