{% extends 'base.html' %}

{% block content %}
<div class="main-body">

<div>
    <a class="anchor" id="p3-top"></a><h2>Stars</h2><br>
</div>

<div>
    <p>Different stars have different habitable zones which is defined as the area around a star that the conditions can be just right for liquid water to exist upon the planets surface. Which is an important criteria when searching for 'Earth-like' exoplanets that have the possibility of life on them. This difference is due to the different types of stars in sizes and temperatures. </p>
    <br>
    <img src="{{url_for('static', filename='images/infograph.jpeg')}}", alt="image of habitable zones",  class="img-centre">
    <p class="img-txt">Characteristics of three different classes of star, our Sun is a G-type star. Within the galaxy </p><br>
    <p>When you look at the night sky you may notice that stars have different brightness, this relates to both how far away the star is and how much energy it is emitting. This relates to the characteristics to classify main sequence stars as stars as done above due to how they vary in colour with temperature (energy). These categories are: O (blue), B (blue-white), A (white), F (yellow-white), G (yellow), K (orange), and M (red), from hottest and biggest to coolest and smallest. Stars at the ends of their lives are out of the main sequence. These include supergiants, red giants, and white dwarfs.</p>

</div>

</div>
{% endblock %}

<!-- stars -->