{% extends 'base.html' %}

{% block content %}
<div class="main-body">

<div>
    <a class="anchor" id="p4-top"></a><h2>No Data</h2><br>
</div>

<div class="container">generic box</div>
<div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large breakpoint</div>

</div>
{% endblock %}

<!-- data? -->