{% extends 'base.html' %}

{% block content %}
<div class="main-body">
<br>
    <div>
        <a class="anchor" id="p4-top"></a><h2>Why the weird names?</h2><br><br>
    </div>
    <div>
    <p>The naming of exoplanets can look long, complicated and a little bit strange compared the simpler names we use for planets and other objects (poor Pluto) within our solar system. However there is a logical system behind the naming conventions used, all exoplanets (and stars) are given an alphanumeric "designation" but only a few have an alphabetical "proper name."
    <br><br>
    The first part of the exoplanet name usually refers to the telescope or survey that discovered it, the number is the order the star was cataloged by position and the lowercase letter represents the individual plaent of that system. In order that the planets in that system were found, starting with b and increasing, so c, d, e, etc if multiple are discovered together the closest to the star gets the lowest letter. The star of the system is given the A as a capital letter but is usually undeclared unles it is a multi star system where following stars would be B, C, etc again as capitals. 
    <br><br>
    For example Kepler-69c which has an artist impression of on the gallery page. Means it was discovered by the Kepler telescope, it was the 69th star to be cataloged by Kepler and c means it was the second planet discovered in this system (or a larger orbit than b if they were discovered together).
    </p>
    </div>

<br><br>
<!-- back to top button -->
    <div class="top-btn">
        <a class="btn btn-primary" href="#p4-top" role="button">To The Top</a>
    </div>
</div>
{% endblock %}

<!-- data? -->